#widget-subscription{
  .error-help-block{
    color: #7d8490;
    font-family: ubuntu-regular;
    font-size: 12px;
  }
  position: relative;
  .bg-subscribe{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .subscribe-tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    .subscribe-title{
      color: #ffffff;
      font-family: ubuntu-bold;
      font-size: 33px;
      font-weight: 700;
      line-height: 28.93px;

      margin-bottom: 10px;
      @media(max-width: 768px){
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin-top: 50px;
      }
    }
    .subscribe-subtitle{
      color: #ffffff;
      font-family: ubuntu-regular;
      font-size: 17px;
      font-weight: 400;
      line-height: 25.11px;
    }
  }
  .subscribe-form{
    margin: 40px 0;
    input{
      //button
      border: none;
      border-radius: 25px;
      background-color: #ffffff;
      padding: 0px 30px;
      height: 49px;
      //text
      color: #7d8490;
      font-family: ubuntu-regular;
      font-size: 17px;
      font-weight: 400;
      line-height: 20.9px;
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder{
        color: #7d8490;
        font-family: ubuntu-regular;
        font-size: 17px;
        font-weight: 400;
        line-height: 20.9px;
      }
      &:active,
      &:focus{
        outline: 0;
        box-shadow: none;
      }
    }
    .subscribe-submit-button{
      //button
      border: none;
      height: 49px;
      border-radius: 25px;
      background-color: #e9e9e9;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      //text
      color: #7d8490;
      font-family: ubuntu-bold;
      font-size: 17px;
      font-weight: 700;
      line-height: 20.9px;
      text-transform: uppercase;
      &:active,
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}