<div class="container featured-card">
    <div class="row align-items-center">
        <div class="block-img d-flex justify-content-center align-items-center">
            <img src="/themes/fala/img/no-image-landscape.png" class="featured-image"
                 alt="featured image">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 block-text">
            <div class="title">
                Best-in-class Compliance Organization
            </div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout.
            </div>
        </div>
    </div>
</div>
<br/>
