<section class="shareholders">
  <div class="container">
    <div class="row">
      <div class="shareholders-title">
        shareholders who own more than 5% of the bank's capital
      </div>
    </div>
    <div class="row justify-content-center card-deck">
      <div class="card col-12 col-md-6 col-lg-3 border-radius">
        <a href="#" class="btn-more">
          <div class="card-body">
            <div class="item-name">
              Zeinab Khalaf Abed Kareem
            </div>
            <div class="item-description">
              Republic of Iraq - Individuals
            </div>
            <div class="item-price">
              9,90%
            </div>
          </div>
        </a>
      </div>
      <div class="card col-12 col-md-6 col-lg-3 border-radius">
        <a href="#" class="btn-more">
          <div class="card-body">
            <div class="item-name">
              Zeinab Khalaf Abed Kareem
              Zeinab Khalaf Abed Kareem
            </div>
            <div class="item-description">
              Republic of
            </div>
            <div class="item-price">
              9,90%
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
