#carouselLiving{
  .carousel-control-prev,
  .carousel-control-next{
    width: 8%;
    @media(max-width: 768px){
      display: none;
    }
  }

  .carousel-item{
    &.carousel-item-video{
      position: relative;
      .shadow-video{
        background-color:rgba(0, 0, 0, 0.5);
        width: 100%;
        position: absolute;
        height: 100%;
      }
    }
    .carousel-caption{
      top: 50%;
      transform: translateY(-50%);
      bottom: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media(max-width: 768px){
        width: 100%;
        left: 0;
      }
      .title{
        color: #ffffff;
        font-family: ubuntu-bold;
        font-size: 25px;
        font-weight: 700;
        line-height: 33.42px;
        text-transform: none;
      }
      .description{
        color: #ffffff;
        font-family: ubuntu-regular;
        font-size: 21px;
        font-weight: 400;
        line-height: 25.08px;
      }
      .btn-link{
        //button
        padding: 15px 40px;
        border-radius: 25px;
        background-image: linear-gradient(to right, #87bae5 0%, #bca7d0 100%);
        text-decoration: none;
        display: inline-block;
        //text
        color: #ffffff;
        font-family: ubuntu-bold;
        font-size: 17px;
        font-weight: 700;
        line-height: 20.9px;
        text-transform: uppercase;
      }
      .btn-play{
        width: 87px;
        height: 85px;
        border-radius: 42px;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .item-img{
      max-height: 694px;
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @media(max-width:1023px){
        height: 362px;
      }
    }
  }

  .carousel-indicators{

    li{
      border-radius: 50%;
      width: 10px;
      height: 10px;

    }
  }
}