#widget-diagnosed-page {
  padding-top: 50px;
  margin-bottom: 40px;
  .description {
    color: #7d8490;
    font-family: ubuntu-regular;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.08px;
    margin-bottom: 40px;

    .black {
      font-family: ubuntu-bold;
      font-weight: 700;
    }

    .pink {
      color: #bca7d0;
      font-family: ubuntu-regular;
      font-weight: 400;
    }
  }

  .sliderDiagnosedPage {
    .slick-track {
      display: flex;

      .slick-slide {
        display: flex;
        height: auto;
        justify-content: center;

        &:hover,
        &:active,
        &:focus {
          outline: none;
        }

        .slide {
          .card {
            margin: 10px;
            cursor: pointer;
            .card-img-top {
              height: 270px;
              max-height: 270px;
              object-fit: cover;
              width: 100%;
              padding: 5px;
              border-radius: 9px;
            }

            .card-body {
              padding: 10px;
              height: 150px;
              max-height: 150px;
              overflow: hidden;
              .card-title {
                color: #7d8490;
                font-family: ubuntu-regular;
                font-size: 16px;
                font-weight: 400;
                line-height: 20.92px;

                .black {
                  font-family: ubuntu-bold;
                  font-weight: 700;
                }
              }
            }
          }
        }

      }
    }
  }

  .slick-arrow {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;

    &.prev-diagnosed,
    &.next-diagnosed {
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      border: none;
      outline: none;
      width: 44px;
      height: 44px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #87bae5 0%, #bca7d0 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fefefe;
    }

    &.next-diagnosed {
      right: -15px;
      @media(max-width: 425px) {
        right: -8px;
      }
    }

    &.prev-diagnosed {
      left: -15px;
      @media(max-width: 425px) {
        left: -8px;
      }
    }

  }
  .text-section{
    color: #7d8490;
    font-family: ubuntu-regular;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.04px;
  }
  .vision-mission-box{
    border-radius: 15px;
    text-align: center;
    width: 100%;
    &.vision-line{
      background-color: #f5f4f4;
      border-top: 8px solid #87bae5;
    }
    &.mission-line{
      background-color:#f5f4f4;
      border-top: 8px solid #bca7d0;
    }
    .icon{
      margin-top: 35px;
      height: 95px;
      display: flex;
      justify-content: center;
      @media(max-width: 767px) {
        margin-top: 25px;
      }
      img{
        object-fit: contain;
      }
    }
    .text{
      display: inline-block;
      margin-bottom: 35px;
      padding:0 40px;
      @media(max-width: 767px) {
        padding: 0 25px;
        margin-bottom: 20px;

      }
      .title{
        line-height: 20.9px;
        color: #616a7d;
        font-family: ubuntu-bold;
        font-size: 21px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 30px;
        @media(max-width: 767px) {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
      .description{
        color: #7d8490;
        font-family: ubuntu-regular;
        font-size: 17px;
        font-weight: 400;
        line-height: 20.9px;
      }
    }
  }
}