#simple-gray{
  background-color: #f5f4f4;
  .text-section{
    color: #7d8490;
    font-family: ubuntu-regular;
    font-size: 17px;
    line-height: 25.09px;
  }
  .title-section{
    color: #616a7d;
    font-family: ubuntu-bold;
    font-size: 23px;
    line-height: 21.08px;
  }
}