%modalFala{
  .modal-content{
    border: none;
    border-radius: 10px;
    background-color: #fcfcfc;
    padding-top: 50px;
    padding-bottom: 50px;
    @media(max-width: 767px){
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 20px;
    }
    .close{
      position: absolute;
      top: -20px;
      right: -20px;
      opacity: 1;
      z-index: 1;
      &:focus,
      &:active{
        outline: none;
        box-shadow: none;
      }
    }
  }
}

#thankYouModal{
  @extend %modalFala;
  .name{
    color: #7d8490;
    font-size: 17px;
    font-family: ubuntu-regular;
    font-weight: 400;
    line-height: 20.91px;
  }
}
//This code snippet falls into CSS because '%test' is extended.
.modalFala{
  @extend %modalFala;
}