#widget-family{
  margin-bottom: 40px;
  @media(max-width: 767px) {
    margin-bottom: 20px;
  }
  .title{
    margin-top: 70px;
    margin-bottom:40px;
    color: #7d8490;
    font-family: ubuntu-bold;
    font-size: 33px;
    font-weight: 700;
    line-height: 20.85px;
    @media(max-width: 767px) {
      margin-top: 35px;
      margin-bottom: 25px;
    }
  }
  .family-slider{
    @media(max-width: 767px) {
      height:350px;
    }
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .family-item{
      height: auto;
      margin-bottom: 30px;
      display: flex;
      cursor: pointer;
      .card{
        border-radius: 5px;
        border: 1px solid #d7d7d7;
        background-color: #ffffff;
        padding: 5px;

        .card-body{
          .card-name{
            color: #616a7d;
            font-family: ubuntu-regular;
            font-size: 19px;
            font-weight: 400;
            line-height: 20.92px;
          }
        }
        .card-img-top{
          border-radius: 5px;
          max-height: 270px;
          height: 270px;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
  .slick-arrow {
    @media(min-width: 768px){
      display: none!important;
    }
    position: absolute;
    top: 50%;
    width: 100%;
    &.prev-family,
    &.next-family {
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      border: none;
      outline: none;
      width: 44px;
      height: 44px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #87bae5 0%, #bca7d0 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fefefe;
    }

    &.next-family {
      right: -15px;
      @media(max-width: 425px) {
        right: -8px;
      }
    }

    &.prev-family {
      left: -15px;
      @media(max-width: 425px) {
        left: -8px;
      }
    }

  }
}


.modalFala{
  @extend %modalFala;
  &.modalFamily{
    .personal-info{

      .name{
        width: 100%;
        color: #bca7d0;
        font-family: ubuntu-bold;
        font-size: 33px;
        font-weight: 700;
        line-height: 21.07px;
        padding-left:15px;
        padding-right:15px;

        @media(max-width: 767px){
          text-align: center!important;
          font-size: 24px;
          margin-top: 20px;
          padding: 0;
        }
      }
      .info{
        color: #7d8490;
        font-size: 17px;
        font-family: ubuntu-regular;
        font-weight: 400;
        line-height: 20.91px;
        word-break: break-word;
        overflow-wrap:break-word;
        word-wrap:break-word;
        padding-left:15px;
        padding-right:15px;
        @media(max-width: 767px){
          padding: 0;
        }
      }
    }
  }
}